<!DOCTYPE HTML>
<html>

<head>
	<title>漫画阅读</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" />
	</noscript>
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="/" class="logo">
					<span class="symbol"><h1>漫画阅读</h1></span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/">主页</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<section class="tiles">
					{% for x,y in content.items() %}
					<article class="style1">
						<span class="image">
							<img src="{{y[0]}}" alt="" />
						</span>
						<a href="/comic/{{x}}">
							<h2>{{x}}</h2>
							<div class="content">
								<p>New:{{y[1]}}</p>
							</div>
						</a>
					</article>
					{% endfor %}
					

				</section>
			</div>
		</div>

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>